$primary_cyan: hsl(180, 66%, 49%);
$primary_darkviolet: hsl(257, 27%, 26%);
$secondary_red: hsl(0, 87%, 67%);
$neutral_gray: hsl(0, 0%, 75%);
$neutral_grayviolet: hsl(257, 7%, 63%);
$verydark_blue: hsl(255, 11%, 22%);
$verydark_violet: hsl(260, 8%, 14%);
$second_bg: #f0f1f6;
