@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700;800&display=swap');
@import './variables';
* {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100%;
  min-height: 100vh;
  position: relative;
  background-color: $second_bg;
}

header {
  background-color: white;
  padding-bottom: 10px;
}

nav {
  flex-wrap: wrap;
  align-items: center;
  padding: 0 15px;
  margin: 0 auto;
  width: 70%;
  ul {
    list-style-type: none;
    margin-top: 25px;
    align-items: center;
    width: 100%;

    .navbar__title {
      font-size: 1.3em;
      font-weight: bold;
      text-transform: uppercase;
      letter-spacing: 0.15em;
      color: $verydark_blue;
    }

    li {
      display: inline-block;
      font-size: 1.1em;
      margin: 0 15px;
      color: $neutral_gray;
      font-weight: bold;
      cursor: pointer;

      &:hover {
        color: $verydark_blue;
      }
    }
  }
}

section {
  padding-bottom: 9rem;
}

.container {
  padding: 30px 20px;
  margin: 0 auto;
  margin-top: 20px;
  width: 70%;
}

hr {
  margin-bottom: 20px;
}

.games__container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: 1fr;
  gap: 20px;

  a {
    text-decoration: none;
    color: $verydark_blue;
  }

  div {
    background-color: white;
    border-radius: 8px;
  }

  img {
    width: 100%;
    border-radius: 8px 8px 0 0;
  }
  .game__content {
    padding: 10px 15px;

    .game__footer {
      margin-top: 10px;
      align-items: center;

      span {
        font-weight: bold;
        font-size: 1.2em;
        color: $secondary_red;
      }

      button {
        text-transform: uppercase;
        background-color: $primary_cyan;
        color: white;
        border: none;
        font-size: 1.1em;
        border-radius: 5px;
        font-weight: bold;
        cursor: pointer;
        padding: 3px 20px;
      }
    }
  }

  .game__card {
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    cursor: pointer;

    &:hover {
      box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    }
  }
}

.pagination {
  list-style-type: none;
  display: flex;
  justify-content: center;
  margin-top: 25px;
  li {
    display: inline-block;
    margin: 10px 15px;
    background-color: white;
    padding: 5px 15px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    font-weight: bold;
    cursor: pointer;

    &:hover {
      background-color: $verydark_blue;
      color: white;
      transition: 0.3s;
    }
  }

  .currentPage {
    background-color: $verydark_blue;
    color: white;
  }
}

.game-detail__container {
  display: grid;
  grid-template-columns: 1fr 2fr;
  max-height: 500px;
  border-radius: 10px;
  background-color: white;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;

  .game__image {
    border-radius: 10px 0 0 10px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    width: 380px;
  }

  .game__content {
    padding: 30px;
    color: $verydark_blue;

    p {
      text-align: justify;
      margin-top: 15px;
      line-height: 2em;
    }

    .game__price {
      color: $secondary_red;
      font-weight: bold;
      font-size: 1.4em;
    }

    button {
      display: flex;
      align-items: center;
      padding: 7px 15px;
      border: none;
      font-weight: bold;
      text-transform: uppercase;
      border-radius: 30px;
      background-color: $primary_cyan;
      color: white;
      margin-top: 3%;
      cursor: pointer;

      &:hover {
        background-color: hsl(180, 66%, 71%);
        transition: 0.3s;
      }
      span {
        margin-left: 5px;
      }
    }
  }
}

.comments__container {
  margin-top: 30px;

  h2 {
    color: $verydark_blue;
  }

  .comment {
    padding: 10px;
    background-color: white;
    margin-bottom: 10px;
    border-radius: 10px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;

    .comment__header {
      display: flex;
      align-items: center;

      .comment__user {
        margin-left: 10px;
        font-weight: bold;
        font-size: 1.1em;
      }
    }
  }
}

.animation__loading {
  margin-left: auto;
  margin-right: auto;
  border: 16px solid white;
  border-radius: 50%;
  border-top: 16px solid $verydark_blue;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

footer {
  background-color: $verydark_blue;
  position: absolute;
  bottom: 0;
  width: 100%;

  .footer__container {
    padding: 40px 15px 50px 15px;
    margin: 0 auto;
    width: 70%;

    div {
      margin: 0 15px;

      h1 {
        color: white;
        text-transform: uppercase;
        letter-spacing: 0.1em;
        cursor: pointer;
      }
    }

    .footer__links {
      margin-top: 10px;

      div {
        margin: 0 45px;

        h4 {
          color: $neutral_gray;
          cursor: pointer;
          font-size: 1.1em;

          &:hover {
            color: $primary_cyan;
          }
        }
      }
    }
  }
}

.flex-class {
  display: flex;
  justify-content: space-between;
}

@media (max-width: 1440px) {
  .games__container {
    grid-template-columns: repeat(4, 1fr);
  }

  .container {
    width: 90%;
  }
}

@media (max-width: 1024px) {
  .games__container {
    grid-template-columns: repeat(3, 1fr);
  }
  footer {
    .footer__container {
      width: 80%;
    }
  }
}

@media (max-width: 882px) {
  .games__container {
    grid-template-columns: repeat(2, 1fr);
  }

  footer {
    .footer__container {
      width: 90%;
    }
  }

  nav {
    width: 90%;
  }

  .game-detail__container {
    grid-template-columns: 1fr 3fr;

    .game__image {
      width: 300px;
    }

    .game__footer {
      margin-top: 20px;
      display: flex;
      justify-content: space-between;
      flex-direction: row-reverse;
    }
  }
}

@media (max-width: 425px) {
  .container {
    width: 100%;
  }

  .games__container {
    grid-template-columns: 1fr;
  }

  .game-detail__container {
    grid-template-columns: 1fr;
    max-height: fit-content;
    border-radius: 0 0 10px 10px;

    .game__image {
      width: 100%;
      border-radius: 10px 10px 0 0;
    }
  }

  footer {
    .footer__container {
      padding: 20px 10px 30px 0px;
      .footer__links {
        div {
          margin: 0;
        }
      }
    }
  }
}
